.dropdown {
	width: 266px;
	position: relative;

	&__input-wrapper {
		position: relative;
		width: 100%;
	}

	&__input {
		padding-right: 40px;
		text-overflow: ellipsis;
	}

	&__input:focus {
		outline: none;
	}

	&__input.active {
		border: 1px solid rgba(31, 32, 65, 0.5);
		border-radius: 4px 4px 0 0;
	}

	&__wrapper-btn {
		margin-top: 20px;
		margin-bottom: 5px;
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		font-family: $main-font, sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $black-50;
		border: none;
		background: transparent;
		padding: 0;
		cursor: pointer;
	}

	&__btn--use {
		color: $purple;
	}
}

.counter {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 5px 7px 7px 15px;
	box-sizing: border-box;
	border: 1px solid rgba(31, 32, 65, 0.5);
	border-top: none;

	font-family: $main-font, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $black;
	box-shadow: 0px 10px 20px $black-05;
	background: white;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 7px;
	}

	&__row:nth-last-child(1) {
		margin-bottom: 0;
	}

	&__row-name {
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041
	}

	&__inner {
		width: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn {
		display: block;
		width: 30px;
		height: 30px;
		padding: 3px;
	
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: rgba(31, 32, 65, 0.5);
		text-align: center;
	  cursor: pointer;
	  border-radius: 100%;

	  box-sizing: border-box;
	  border: 1px solid $black-25;
	}

	&__btn.disabled {
		opacity: 0.5;
		cursor: default;
	}
}
