.pagination {
	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		margin-right: -3px;
	}

	&__link {
		display: inline-block;
		padding: 13px 18px;
		font-family: $main-font, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		vertical-align: middle;
		color: $black-50;
		text-decoration: none;
		box-sizing: border-box;
	}

	&__link.active {
		font-weight: 600;
		color: #ffffff;
		border-radius: 22px;
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	}

	&__link.next {
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 22px;
		background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	}

	&__link.next::before {
		content: "";
		position: absolute;
		top: 6px;
    left: 4px;
		width: 25px;
		height: 25px;
		background: url('../img/sprite.png') no-repeat;
		background-position: -369px -15px;
	}

	&__text {
		margin-top: 8px;
    margin-left: 5px;
		font-family: $main-font, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: $black-75;
	}
}