@import '../../../../components/dropdown/dropdown.scss';

.column.column--dropdown {
	display: flex;
	justify-content: space-between;
}

.column--rigth {
	display: flex;
	margin-left: 19%;
}

.dropdown__label span {
	position: absolute;
  top: 0;
  right: 0;
  font-family: $main-font, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: rgba(31, 32, 65, 0.5);
}

#dropdown-furniture {
	margin-top: 17px;
}

.dropdown--guests {
	width: 320px;
}

#dropdown-guests-two {
	margin-left: 65px;
}