.search-rooms {
  width: 100%;
  max-width: 380px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 40px 30px 30px 30px;
  background: #ffffff;

  &__caption {
    margin-top: 0;
    font-family: $caption-font, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: $black;
  }
  
  & .date-picker {
    display: flex;
    justify-content: space-between;
  }

  & .date-picker__label,
  & .date-picker__input {
    width: 150px;  
  }

  & .dropdown {
    width: 100%;
    margin-top: 20px;
  }

  &__submit {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 14px 22px 15px 18px;
    border: none;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      right: 6px;
      display: block;
      width: 30px;
      height: 30px;
      background: url('../img/sprite.png') no-repeat;
      background-position: -146px -15px;
    }
  }
}

@media screen and (max-width: 360px) {
  .search-rooms {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;

    & .date-picker {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & .date-picker__label {
      margin-bottom: 10px; 
      width: 100%;
    }

    & .date-picker__input {
      width: 100%;
    }
  }
}