.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

@import '../../style/global.scss';
@import '../../style/test.scss';
@import '../../components/card-goods/card-goods.scss';

body {
	background: pink;
}

h2 {
	color: red;
}

.text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}