doctype html
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
	<link rel="stylesheet" type="text/css" href="./style/formElements.css">
	<script src="./js/formElements.js"></script>
body
	h2 from elements
	p.text работает
	