div.info-about-room
	ul.info-about-room__list
		li.info-about-room__item.info-about-room__item--comfort Комфорт</br> 
			span Шумопоглощающие стены
		li.info-about-room__item.info-about-room__item--convenience Удобство</br> 
			span Окно в каждой из спален
 
