div.checkbox-buttons
	p.title Rich Checkbox Buttons
	input(type="checkbox" value="wide-corridor" id="wide-corridor")
	label.checkbox__label(for="wide-corridor") Широкий коридор </br><span>Ширина коридоров в номере</br> не менее 91 см.</span>
	input(type="checkbox" value="assistant" id="assistant")
	label.checkbox__label(for="assistant") Помощник для инвалидов </br><span>На 1 этаже вас встретит специалист </br>и проводит до номера.</span>