.wrpapper-checkbox__title {
	padding-right: 75px;
	position: relative;
	font-family: $main-font, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $black;
	margin-bottom: 16px;
}

.checkbox-list-toggle  {
	display: block;
	position: absolute;
	top: -15px;
	right: 0;
	width: 44px;
	height: 44px;
	background: url('../img/sprite.png') no-repeat;
	background-position: -666px -2px;
	cursor: pointer;
}

.checkbox-list-toggle.active {
	background: url('../img/sprite.png') no-repeat;
	background-position: -666px -2px;
	transform: rotate(180deg);
}

.checkbox__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#checkbox-list--open {
	margin-top: 50px;
}