main.main-page
	div.slide-first
	div.slide-second
	div.slide-third
	include ../../../../components/search-room/search-room.pug
	p.slogan.main-page__slogan Лучшие номера для вашей работы,<br> отдыха и просто вдохновения