doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Toxin
		include ../meta.pug
		include ../favicons.pug
		script(src="./assets/js/signOn.js" defer)
		link(rel="stylesheet" type="text/css" href="./assets/style/signOn.css")
	body
		div.wrapper
			div.content
				include ../../components/header/header.pug
				include ./components/main/main.pug
			div.footer-wrapper
				include ../../components/footer/footer.pug