meta(name="keywords" content="Toxin, Токсин, отель Токсин, hotel Toxin, отель Toxin, забронировать номер, снять комнату, забронировать отель, забронировать гостинницу, забронировать номер в отеле, забронировать номер в гостиннице")
meta(name="description" content="Сайт бронирования номеров - Toxin")
meta(name="viewport" content="initial-scale=1.0, width=device-width")