.comment {
	display: flex;
  margin-left: 185px;
  margin-top: 30px;

  &__column--right {
  	margin-top: 2px;
    margin-left: 8px;
    max-width: 654px;
  }

	& .user-pic {
		display: block;
	}

	& .user-name {
		margin-top: 0;
		font-family: $main-font, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}

	&__last-time {
		font-weight: 400;
	}

	& .btn--like {
		display: block;
		margin: 0 auto;
	}

	&__text {
		font-family: $main-font, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}
