div.column.column--inputs
	div.row-default
		label text field <span>default</span>
			input.field--default(type="text" placeholder="Email" readonly)
	div.row-hover
		label text field <span>hover / focus</span>
			input(type="text" placeholder="This is pretty awesome")
	div.row-default
		label.field--select dropdown <span>default</span>
			input.field--select(type="text" placeholder="Сколько гостей") 
	div.row-default
		label masked text field <span>default</span>
			input.field--default(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
	div.row-date-dropdown
		label.field--select date dropdown
			input(type="text" placeholder="ДД.ММ.ГГГГ")
		label.field--select date dropdown
			input(type="text" placeholder="19.08.2019")
	div.row-filter-date
		label.field--select filter date dropdown
			input(type="text" placeholder="19 авг - 23 авг")
	div.row-subscribe
		label.field--subscribe subscription text field
			input(type="text" placeholder="Email")