div.column.column--buttons
	div.row-slider
		p.row__caption range slider <span class="slider-value">5 000₽ - 10 000₽</span>
		div.range-slider
			span.button
			span.button.button-two
			span.range-line
	div.row-buttons
		p.row__caption buttons
		div.wrapper-button
			a.btn.btn--theme-purple click me
			a.btn.btn--theme-purple.active click me
		div.wrapper-button
			a.btn click me
			a.btn.active click me
		div.wrapper-text
			span.text.active click me
			span.text click me
		a.btn.btn--buy.btn--theme-purple Перейти к оплате
	div.row-pagination
		p.row__caption pagination
		include ../../../../components/pagination/pagination.pug