doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		<link rel="stylesheet" type="text/css" href="./assets/style/colorsFonts.css">
		<script src="./assets/js/colorsFonts.js" defer></script>
		<link rel="apple-touch-icon" sizes="180x180" href="./static/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./static/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./static/favicons/favicon-16x16.png">
		<link rel="manifest" href="./static/favicons/site.webmanifest">
		<link rel="mask-icon" href="./static/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="theme-color" content="#ffffff">
		<meta name="keywords" content="отель Токсин, hotel Toxin, отель Toxin, забронировать номер, снять комнату, забронировать отель, забронировать гостинницу, забронировать номер в отеле, забронировать номер в гостиннице"/>
		<meta name="description" content="Сайт бронирование номеров в отеле Toxin">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		title Document
	body
		div.wrapper
			img.logo.wrapper__logo(src="./assets/img/group.png", alt="logo")
			div.wrapper__lists
				ul.colors.colors__list 
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Dark Shade 100%
							p.colors__subtext #1F2041 
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Dark Shade 75%
							p.colors__subtext #1F2041 
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Dark Shade 50%
							p.colors__subtext #1F2041 
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Dark Shade 25%
							p.colors__subtext #1F2041 
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Dark Shade 5%
							p.colors__subtext #1F2041 
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Purple
							p.colors__subtext #BC9CFF
					li.colors__item
						div.colors__square
						div.colors__wrapper-text
							p.colors__text Green
							p.colors__subtext #6FCF97
				ul.fonts.fonts__list
					li.fonts__item
						p.fonts__value H1
						p.fonts__text This one is the sub-section or widget title
					li.fonts__item
						p.fonts__value H2
						p.fonts__text Next one is the item title inside widgets
					li.fonts__item
						p.fonts__value H3
						p.fonts__text This is a label or cta text
					li.fonts__item
						p.fonts__value Body
						p.fonts__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
