div.wrapper-checkboxes
	div.wrapper-checkbox(id="checkbox-list")
		p.wrpapper-checkbox__title expandable checkbox list <span class="checkbox-list-toggle"></span> 
		ul.checkbox__list.visually-hidden
			li.checkbox__item 
				input(type="checkbox" value="breakfast" id="breakfast")
				label.row__label(for="breakfast") Завтрак
			li.checkbox__item 
				input(type="checkbox" value="desk" id="desk" checked)
				label.row__label(for="desk") Письменный стол
			li.checkbox__item 
				input(type="checkbox" value="baby-chair" id="baby-chair" checked)
				label.row__label(for="baby-chair") Стул для кормления 
			li.checkbox__item 
				input(type="checkbox" value="cot" id="cot" checked)
				label.row__label(for="cot") Кроватка
			li.checkbox__item 
				input(type="checkbox" value="tv" id="tv")
				label.row__label(for="tv") Телевизор
			li.checkbox__item 
				input(type="checkbox" value="shampoo" id="shampoo")
				label.row__label(for="shampoo") Шампунь
	div.wrapper-checkbox(id="checkbox-list--open")
		p.wrpapper-checkbox__title expandable checkbox list <span class="checkbox-list-toggle active"></span> 
		ul.checkbox__list
			li.checkbox__item 
				input(type="checkbox" value="breakfast" id="breakfast")
				label.row__label(for="breakfast") Завтрак
			li.checkbox__item 
				input(type="checkbox" value="desk" id="desk" checked)
				label.row__label(for="desk") Письменный стол
			li.checkbox__item 
				input(type="checkbox" value="baby-chair" id="baby-chair" checked)
				label.row__label(for="baby-chair") Стул для кормления 
			li.checkbox__item 
				input(type="checkbox" value="cot" id="cot" checked)
				label.row__label(for="cot") Кроватка
			li.checkbox__item 
				input(type="checkbox" value="tv" id="tv")
				label.row__label(for="tv") Телевизор
			li.checkbox__item 
				input(type="checkbox" value="shampoo" id="shampoo")
				label.row__label(for="shampoo") Шампунь
			li.checkbox__item 
				input(type="checkbox" value="tv" id="tv")
				label.row__label(for="tv") Телевизор
			li.checkbox__item 
				input(type="checkbox" value="shampoo" id="shampoo")
				label.row__label(for="shampoo") Шампунь
