.header {
  padding: 15px 9.7%;
  padding-bottom: 7px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $black-05;
  border-bottom: 1px solid transparent;

  &__logo {
    width: 155px;
    margin: 0 auto;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__authorization {
    width: 100%;
  }
}

@media (min-width: 400px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__logo {
      margin: 0;
    }

    &__authorization {
      width: auto;
      margin-top: 10px;
    }
  }
}

@media (min-width: 800px) {
  .header {
    justify-content: flex-end;

    &__logo {
      margin-right: auto;
    }

    &__authorization {
      margin-top: 0;
      margin-left: 25px;
    }
  }
}

.nav {

  &__item {
    text-align: center;
    margin-bottom: 10px;
  }

  &__item--sublist a {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      width: 20px;
      height: 20px;
      background: url("../img/sprite.png") no-repeat;
      background-position: -741px -15px;
    }
  }

  &__link {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $black-50;
    text-decoration: none;
  }
}

@media (min-width: 400px) {
  .nav {
    
    &__item {
      display: inline-block;
      margin-right: 20px;
      margin-top: 7px;
    }

    &__item--sublist {
      margin-right: 40px;
    }

    &__item:nth-last-child(1) {
      margin-right: 20px;
    }
  }
}

.authorization {

  &__btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  & .visually-hidden {
    display: none;
  }
}

@media (min-width: 400px) {
  .authorization {

    &__btn {
      display: inline-block;
      width: auto;
      margin-left: 20px;
    }

    &__btn:nth-child(1) {
      margin-left: 0;
    }

    & .visually-hidden {
      display: none;
    }
  }
}