header.header
  div.container.header__container
    a.logo-link.header__logo-link(href="index.html")
      img(src="../img/logo.png" alt="Логотип сайта")
    ul.nav-cite.header__nav-cite
      li.nav-cite__item 
        a.nav-cite__link(href="/mock-address/change-me") О нас
      li.nav-cite__item.nav-cite__item_have_sublists
        a.nav-cite__link(href="/mock-address/change-me") Услуги
      li.nav-cite__item 
        a.nav-cite__link(href="/mock-address/change-me") Вакансии
      li.nav-cite__item 
        a.nav-cite__link(href="/mock-address/change-me") Новости
      li.nav-cite__item.nav-cite__item_have_sublists
        a.nav-cite__link(href="/mock-address/change-me") Соглашения
    div.user-block.header__user-block
      a.user-block__link.user-block__link_login(href="/mock-address/change-me") Войти
      a.user-block__link.user-block__link_sign-up(href="/mock-address/change-me") Зарегистрироваться
      a.user-block__link.user-block__link_authentication.user-block__link_hidden(href="/mock-address/change-me") Имя пользователя