div.column.column--buttons
	div.row-slider
		p.row__caption range slider
	div.row-buttons
		p.row__caption buttons
		div.wrapper-button
			a.btn.btn--theme-purple click me
			a.btn.btn--theme-purple.active click me
		div.wrapper-button
			a.btn click me
			a.btn.active click me
		div.wrapper-text
			span.text.active click me
			span.text click me
		a.btn.btn--buy.btn--theme-purple Перейти к оплате
	div.row-pagination
		p.row__caption pagination
		include ../../../../components/pagination/pagination.pug