footer.footer
  div.footer__row.footer__row_top
    div.footer__inner.footer__inner_logo
      a.footer__link-logo
        img(src="../img/logo.png" alt="Логотип сайта")
      p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.footer__inner.footer__inner_navigation
      div.footer-nav.footer-nav_navigation
        h4.footer-nav__title Навигация
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") О нас
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Новости
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Служба поддержки
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Услуги
      div.footer-nav.footer-nav_about-us
        h4.footer-nav__title О нас
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") О сервисе
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Наша команда
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Вакансии
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Инвесторы
      div.footer-nav.footer-nav_support
        h4.footer-nav__title Служба поддержки
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Соглашения
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Сообщества
          li.footer-nav__item
            a.footer-nav__link(href="/mock-address/change-me") Связь с нами
    section.subscribe
      h4.subscibe__title Подписка
      p.subscribe__text Получайте специальные<br> предложения и новости сервиса
      form.subscribe__email(action="#" method="post")
        input.email(type="email" placeholder="Email")
  div.footer__row.footer__row_bottom
    p.copyrigth Copyright © 2018 Toxin отель. Все права защищены.
    div.social.footer__social
      a.social__btn.social__btn_twitter(href="/mock-address/change-me") twitter
      a.social__btn.social__btn_facebook(href="/mock-address/change-me") facebook
      a.social__btn.social__btn_inst(href="/mock-address/change-me") instagramm