.footer {
  background: #ffffff;

  &__row--top {
    padding: 50px 9.7%;
  }

  &__row--bottom {
    padding: 26px 9.7%;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
  }

  &__logo > img {
    width: 105px;
    height: 40px;
  }

  &__text {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $black-75;
  }

  &__copyrigth {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $black-75;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .footer {
    &__row--top {
      display: flex;
      flex-wrap: wrap;
      padding: 100px 9.7%;
      padding-bottom: 46px;
    }

    &__row--bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      padding-top: 14px;
      padding-bottom: 12px;
    }

    &__inner {
      width: 260px;
    }
  }
}

.nav {
  &__caption {
    margin-bottom: 24px;
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $black;
  }

  &__link {
    display: block;
    margin-bottom: 5px;
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $black-50;
    text-decoration: none;
  }
}

@media (min-width: 500px) {
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 510px;
  }
}

@media (min-width: 1000px) {
  .nav {
    flex-grow: 1;
    margin-left: 3.5%;
    
    &__caption {
      margin-top: 5px;
    }

    &__link {
      margin-bottom: 20px;    
    }
  }
}

// @media (min-width: 1500px) {
//   .nav {
//     margin-left: auto;
//     max-width: 600px;
//   }
// }

.subscribe {
  &__caption {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $black;
  }

  &__text {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $black;
  }

  & .field--subscribe:before {
    content: "";
    top: 10px;
  } 
}

@media (min-width: 500px) {
  .subscribe {
    
    &__input {
      margin-top: 25px;
    }

    & label,
    &__input {
      max-width: 260px;
    }
  }
}

@media (min-width: 1000px) {
  .subscribe {
    &__caption {
      margin-top: 5px;
    }
  }
}

@media (min-width: 1150px) {
  .subscribe {
    max-width: 260px;
    margin-left: 50px;
  }
}

@media (min-width: 1440px) {
  .subscribe {
    margin-left: auto;
  }
}

.social {
  width: 160px;
  margin: 0 auto;

  &__btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background: url('../img/sprite.png') no-repeat;
  }

  &__btn--twitter {
    background-position: -128px -15px;
  }

  &__btn--facebook {
    background-position: -65px -15px;
  }

  &__btn--inst {
    background-position: -190px -15px;
  }
}

@media (min-width: 1000px) {
  .social {
    width: auto;
    margin: 0;

    &__btn {
      margin: 0;
      margin-top: 8px;
      margin-left: 13px;
    }
  }
}
