.footer {
  
  &__row--top {
    padding: 7% 9.7%;
  }

  &__row--bottom {
    border-top: 1px solid $black-25;   
    padding: 20px 9.7%;
  }

  &__logo {
    width: 155px;
    margin: 0 auto;
  }

  &__text {
    margin-top: 10px;
    text-align: center;
  }
}

@media (min-width: 400px) {
  .footer {
    &__text {
      text-align: left;
    }

    &__logo {
      margin: 0;
    }
  }
}

@media (min-width: 800px) {
  .footer {
    &__row--bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1100px) {
  .footer {
    
    &__row--top {
      display: flex;
      flex-wrap: wrap;
      padding: 0 9.7%;
      padding-top: 104px;
      padding-bottom: 91px;
    }

    &__inner {
      max-width: 260px;
      margin-right: auto;
      margin-top: -4px;
    }
  }
}

@media (min-width: 1350px) {
  .footer {
    &__nav-site {
      margin-right: 54px;
    }
  }
}

@media (min-width: 1850px) {
  .footer {
    &__inner {
      max-width: 340px;
    }
  }
}

.nav-site {
  margin-top: 20px;
  text-align: center;

  &__caption {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 1.07rem;
    text-transform: uppercase;
    color: $black;
  }

  &__link {
    display: block;
    margin-bottom: 20px;
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $black-50;
    text-decoration: none;
  }
}

@media (min-width: 400px) {
  .nav-site {
    text-align: left;

    &__link {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

@media (min-width: 800px) {
  .nav-site {
    display: flex;
    justify-content: space-between;

    &__link {
      display: block;
      margin-right: 0;
      margin-top: 21px;
      margin-bottom: 13px;
    }
  }
}

@media (min-width: 1100px) {
  .nav-site {
    margin-top: 0;
    width: 65%;
  }
}

@media (min-width: 1350px) {
  .nav-site {
    width: auto;

    &__list {
      margin-right: 57px;
    }

    &__list:nth-child(2) {
      margin-right: 92px;
    }

    &__list:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.subscribe {
  text-align: center;

  &__caption {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 1.07rem;
    text-transform: uppercase;
    color: $black;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__label {
    max-width: 320px;
  }

  &__label.field--subscribe:before {
    content: '';
    top: 13px;
    right: 10px;
  }
}

@media (min-width: 400px) {
  .subscribe {
    text-align: left;
  }
}

@media (min-width: 1100px) {
  .subscribe {
    max-width: 260px;
  }
}

.copyrigth {
  text-align: center;
}

.social {
  width: 115px;
  margin: 0 auto;
  margin-top: 10px;

  &__btn {
    display: inline-block;
    margin-right: 20px;
    width: 24px; 
    height: 24px;
    background: url('../img/sprite.png') no-repeat;
    background-position: 0 0;
  }

  &__btn--inst {
    background-position: -507px -19px;
  }

  &__btn--facebook {
    background-position: -265px -19px;
  }

  &__btn--twitter {
    background-position: -968px -19px;
  }

  &__btn:nth-last-child(1) {
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .social {
    width: auto;
    margin: 0;
  }
}