div.module.module-login
	h1.module-login__caption Войти
	form.module-login__from(method="post" action="/mock-address/change-me")
		input.module-login__input(type="text" name="email" placeholder="Email")
		input.module-login__input(type="password" name="password" placeholder="Пароль")
		button.btn.btn--theme-purple.module-login__submit(type="submit") Войти
	div.module-login__registration
		p Нет аккаунта на Toxin?
		a.btn.module-login__link создать