.module-login {
	max-width: 380px;
	padding: 30px;
	padding-top: 40px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	&__caption {
		margin-top: 0;
		font-family: $caption-font, sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		color: $black;
	}

	&__input {
		margin-bottom: 10px;
	}

	&__submit {
		position: relative;
		width: 100%;
		margin-top: 10px;

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			right: 8px;
			width: 30px;
			height: 30px;
			background: url('../img/sprite.png') no-repeat;
			background-position: -367px -13px;
		}
	}

	&__registration {
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& p {
			font-family: $main-font, sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #000000;
		}
	}
}