doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		<link rel="stylesheet" type="text/css" href="./assets/style/headerAndFooter.css">
		<script src="./assets/js/headerAndFooter.js" defer></script>
		<link rel="apple-touch-icon" sizes="180x180" href="./static/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./static/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./static/favicons/favicon-16x16.png">
		<link rel="manifest" href="./static/favicons/site.webmanifest">
		<link rel="mask-icon" href="./static/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="theme-color" content="#ffffff">
		<meta name="keywords" content="отель Токсин, hotel Toxin, отель Toxin, забронировать номер, снять комнату, забронировать отель, забронировать гостинницу, забронировать номер в отеле, забронировать номер в гостиннице"/>
		<meta name="description" content="Сайт бронирование номеров в отеле Toxin">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
	body
		div.header-one
			header.header
				div.container.header__container
					a.logo-link.header__logo-link(href="index.html")
						img(src="./assets/img/logo.png" alt="Логотип сайта")
					ul.nav-cite.header__nav-cite
						li.nav-cite__item 
							a.nav-cite__link.active(href="/mock-address/change-me") Home
						li.nav-cite__item
							a.nav-cite__link(href="/mock-address/change-me") About Us
						li.nav-cite__item.nav-cite__item_have--sublists 
							a.nav-cite__link(href="/mock-address/change-me") Services
						li.nav-cite__item 
							a.nav-cite__link(href="/mock-address/change-me") Careers
						li.nav-cite__item
							a.nav-cite__link(href="/mock-address/change-me") News
						li.nav-cite__item
							a.nav-cite__link(href="/mock-address/change-me") Documentation
					div.user-block.header__user-block
						a.btn.user-block__link.user-block__lin--login(href="/mock-address/change-me") Login
						a.btn.btn--theme-purple.user-block__link.user-block__link--sign-up(href="/mock-address/change-me") Register
						a.user-block__link.user-block__link--authentication.visually-hidden(href="/mock-address/change-me") Cosmic Negoita
		div.header-two
			header.header
				div.container.header__container
					a.logo-link.header__logo-link(href="index.html")
						img(src="./assets/img/logo.png" alt="Логотип сайта")
					ul.nav-cite.header__nav-cite
						li.nav-cite__item 
							a.nav-cite__link.active(href="/mock-address/change-me") Home
						li.nav-cite__item
							a.nav-cite__link(href="/mock-address/change-me") About Us
						li.nav-cite__item.nav-cite__item_have--sublists 
							a.nav-cite__link(href="/mock-address/change-me") Services
						li.nav-cite__item 
							a.nav-cite__link(href="/mock-address/change-me") Careers
						li.nav-cite__item
							a.nav-cite__link(href="/mock-address/change-me") News
						li.nav-cite__item
							a.nav-cite__link(href="/mock-address/change-me") Documentation
					div.user-block.header__user-block
						a.btn.user-block__link.user-block__lin--login.visually-hidden(href="/mock-address/change-me") Login
						a.btn.btn--theme-purple.user-block__link.user-block__link--sign-up.visually-hidden(href="/mock-address/change-me") Register
						a.user-block__link.user-block__link--authentication(href="/mock-address/change-me") Cosmic Negoita
		div.footer-one
			footer.footer
				div.footer__row.footer__row--top
					div.footer__inner
						a.footer__logo
							img(src="./assets/img/logo.png" alt="Логотип сайта")
						p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
					nav.nav.footer__nav
						div.nav__list
							h4.nav__caption Navigation
							a.nav__link(href="/mock-address/change-me") About Us
							a.nav__link(href="/mock-address/change-me") News
							a.nav__link(href="/mock-address/change-me") Support
							a.nav__link(href="/mock-address/change-me") Products
						div.nav__list
							h4.nav__caption About Us
							a.nav__link(href="/mock-address/change-me") Who we are
							a.nav__link(href="/mock-address/change-me") Our team
							a.nav__link(href="/mock-address/change-me") Careers
							a.nav__link(href="/mock-address/change-me") Investors
						div.nav__list
							h4.nav__caption Support
							a.nav__link(href="/mock-address/change-me") Documentation
							a.nav__link(href="/mock-address/change-me") Community
							a.nav__link(href="/mock-address/change-me") Get in Touch
					div.subscribe
						h4.subscribe__caption Subscribe to our newsletter
						p.subscribe__text Receive our latest new and promotions in your inbox!
						label.field--subscribe
							input.subscribe__input(type="text" placeholder="Your email address")
				div.footer__row.footer__row--bottom
					p.footer__copyrigth Copyright © 2018 Toxin UI Kit. All rights reserved.
					div.social.footer__social
						a.social__btn.social__btn--twitter(href="/mock-address/change-me")
						a.social__btn.social__btn--facebook(href="/mock-address/change-me")
						a.social__btn.social__btn--inst(href="/mock-address/change-me")
		div.footer-two
			footer.footer
				a.footer__logo
					img(src="./assets/img/logo.png" alt="Логотип сайта")
				p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
				div.social.footer__social
					a.social__btn.social__btn--twitter(href="/mock-address/change-me")
					a.social__btn.social__btn--facebook(href="/mock-address/change-me")
					a.social__btn.social__btn--inst(href="/mock-address/change-me")
