.registration {
	max-width: 380px;
	padding: 30px;
	padding-top: 40px;

	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	&__caption {
		margin-top: 0;
		margin-bottom: 20px;
		font-family: $caption-font, sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 30px;
		color: $black;
	}

	&__input {
		margin-bottom: 8px;
	}

	&__row--gender {
		margin-top: 10px;
		display: flex;

		& .registration__label {
			width: 80px;
			margin-right: 10px;
		}
	}

	&__row--birth-date {
		margin-top: 25px;
	}

	&__row--data {
		margin-top: 18px;
	}

	&__submit {
		position: relative;
		margin-top: 20px;
		display: block;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			top: 6px;
			right: 8px;
			width: 30px;
			height: 30px;
			background: url('../img/sprite.png') no-repeat;
			background-position: -367px -13px;
		}
	}

	&__row--login {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;

		& p {
			font-family: $main-font, sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #000000;
		}
	}

	&__login {
		padding: 13px 25px;
		border-radius: 22px;
	}
}